<button type="button" [routerLink]="['/livre-compte/article/create-article']"  class="btn btn-info">Créer article</button>

<!-- ============================================================== -->
<div class="row">
    <!-- column -->
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Liste article du compte</h4>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="border-top-0">Compte</th>
                            <th class="border-top-0">Intitulé</th>
                            <th class="border-top-0">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let e of article">
                            <td class="txt-oflo">{{e.numArt}}</td>
                            <td class="txt-oflo">{{e.intitule}}</td>
                            <td>
                                    <button class="btn btn-sm btn-outline-danger" (click)="onDelete(e.id)">
                                            <i class="ti-trash"></i>
                                     </button> &nbsp;
                                     <button type="button" [routerLink]="['/livre-compte/article/'+e.id+'/edit']" class="btn btn-sm btn-outline-info">Modifier >></button></td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->