
<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" routerLinkActive="active" [routerLink]="['/etablissement/recette/liste-recette']" 
    class="btn btn-secondary"> <i class="mdi mdi-format-list-bulleted"></i></button>
    <button type="button" routerLinkActive="active" [routerLink]="['/etablissement/recette/create-fonctionnement']" 
    class="btn btn-secondary"> <i class="ti-plus"></i> Fonctionnement</button>
    <button type="button" routerLinkActive="active" [routerLink]="['/etablissement/recette/create-investissement']" 
    class="btn btn-secondary"><i class="ti-plus"></i> Investissement</button>
</div>

<router-outlet> </router-outlet>





