
<div class="row">
        <!-- column -->
        <div class="col-12">
            <div class="card">
                <div class="card-body">

  

<div class="row">

    <div class="col-sm-4">
      <div class="card border rounde">
        <div class="card-body">
            <h5 class="m-b-0">Documenet de dépenses</h5>
            <p class="card-text">Dépense par programme</p>
            <p class="card-text font-weight-bold">Ecole National d'Informatique</p>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
        <div class="card text-center">
          <div class="card-body">
             <p> <button type="button" class="btn btn-outline-success">Année en cours</button></p>
             <div>
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" (change)="onChangeYear($event)" placeholder="Choisir année">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  
            </div>
          </div>
        </div>
      </div>

    <div class="col-sm-4">
      <div class="card border rounded">
        <div class="card-body">
            <h4><code>Porgramme:</code> 310 </h4>
            <h4><code>Intitulé:</code> Enseigment supérieur </h4>
        </div>
      </div>
    </div>

  </div>

                    <div class="tg-wrap">
                    <table class="tg table table-bordered">
                    <thead>
                        <tr>
                            <th class="tg-0pky card-header font-weight-bold alert alert-danger"  colspan="5">FONTIONNEMENT</th>
                            <th class="tg-0pky card-header text-right alert alert-danger"  colspan="5">En Ariary</th>
                        </tr>
                        <tr>
                            <th class="tg-0pky"  colspan="5">SECTIONS</th>
                            <th class="tg-0pky">AUTORISATION D'ENGAGEMENT</th>
                        </tr>
                        <tr>
                            <th class="tg-0pky" scope="col" colspan="4">N° Comptes  </th>
                            <th class="tg-0pky" scope="col">Intitulés</th>
                            <th class="tg-0pky" scope="col">PREVISION 2019</th>
                        </tr>
                    </thead>  

                    <tr *ngFor="let compte of tableFonctionnement" 
                        [ngClass]="(compte.type == 'chapitre')? 'font-weight-bold alert alert-primary':'' ||
                                   (compte.type == 'section')? 'font-weight-bold alert alert-success':'' || 
                                   (compte.type == 'article')? 'alert alert-warning':'' || 
                                   (compte.type == 'compte')? 'alert alert-secondary':''"
                        >
                        <td class="tg-0pky" *ngIf="compte.type == 'chapitre'">{{ compte.numCompte }}</td>
                        <td class="tg-0pky" *ngIf="compte.type == 'chapitre'"></td>
                        <td class="tg-0pky" *ngIf="compte.type == 'chapitre'"></td> 
                        <td class="tg-0pky" *ngIf="compte.type == 'chapitre'"></td>

                        <td class="tg-0pky" *ngIf="compte.type == 'section'"></td>
                        <td class="tg-0pky" *ngIf="compte.type == 'section'">{{ compte.numCompte }}</td>
                        <td class="tg-0pky" *ngIf="compte.type == 'section'"></td>
                        <td class="tg-0pky" *ngIf="compte.type == 'section'"></td>

                        <td class="tg-0pky" *ngIf="compte.type == 'article'"></td>
                        <td class="tg-0pky" *ngIf="compte.type == 'article'"></td>
                        <td class="tg-0pky" *ngIf="compte.type == 'article'">{{ compte.numCompte }}</td>
                        <td class="tg-0pky" *ngIf="compte.type == 'article'"></td>

                        <td class="tg-0pky" *ngIf="compte.type == 'compte'"></td>
                        <td class="tg-0pky" *ngIf="compte.type == 'compte'"></td>
                        <td class="tg-0pky" *ngIf="compte.type == 'compte'"></td>
                        <td class="tg-0pky" *ngIf="compte.type == 'compte'">{{ compte.numCompte }}</td>

                        <td class="tg-0pky">{{ compte.intitule }}</td>
                        <td class="tg-0pky text-right">{{ compte.montant }}</td>
                    </tr>
                    <tr class="font-weight-bold">
                        <td class="tg-0pky" colspan="4"></td>
                        <td class="tg-0pky">TOTAL FONCTIONNEMENT</td>
                        <td class="tg-0pky text-right">{{ totalFct }}</td>
                    </tr>


                    <tr>
                        <td class="tg-0pky card-header font-weight-bold alert alert-danger" colspan="6">Investissement</td>
                    </tr>
                    <tr *ngFor="let compte of tableInvestissement" 
                    [ngClass]="(compte.type == 'chapitre')? 'font-weight-bold alert alert-primary':'' ||
                               (compte.type == 'section')? 'font-weight-bold alert alert-success':'' || 
                               (compte.type == 'article')? 'alert alert-warning':'' || 
                               (compte.type == 'compte')? 'alert alert-secondary':''"
                    >
                    <td class="tg-0pky" *ngIf="compte.type == 'chapitre'">{{ compte.numCompte }}</td>
                    <td class="tg-0pky" *ngIf="compte.type == 'chapitre'"></td>
                    <td class="tg-0pky" *ngIf="compte.type == 'chapitre'"></td> 
                    <td class="tg-0pky" *ngIf="compte.type == 'chapitre'"></td>

                    <td class="tg-0pky" *ngIf="compte.type == 'section'"></td>
                    <td class="tg-0pky" *ngIf="compte.type == 'section'">{{ compte.numCompte }}</td>
                    <td class="tg-0pky" *ngIf="compte.type == 'section'"></td>
                    <td class="tg-0pky" *ngIf="compte.type == 'section'"></td>

                    <td class="tg-0pky" *ngIf="compte.type == 'article'"></td>
                    <td class="tg-0pky" *ngIf="compte.type == 'article'"></td>
                    <td class="tg-0pky" *ngIf="compte.type == 'article'">{{ compte.numCompte }}</td>
                    <td class="tg-0pky" *ngIf="compte.type == 'article'"></td>

                    <td class="tg-0pky" *ngIf="compte.type == 'compte'"></td>
                    <td class="tg-0pky" *ngIf="compte.type == 'compte'"></td>
                    <td class="tg-0pky" *ngIf="compte.type == 'compte'"></td>
                    <td class="tg-0pky" *ngIf="compte.type == 'compte'">{{ compte.numCompte }}</td>

                    <td class="tg-0pky">{{ compte.intitule }}</td>
                    <td class="tg-0pky text-right">{{ compte.montant }}</td>
                </tr>
                <tr class="font-weight-bold">
                    <td class="tg-0pky" colspan="4"></td>
                    <td class="tg-0pky">TOTAL INVESTISSEMENT</td>
                    <td class="tg-0pky text-right">{{ totalInvesti }}</td>
                </tr>

                <tr  class="font-weight-bold">
                    <td class="tg-0pky" colspan="5">TOTAL DES DEPENSES DU PROGRAMME 310(ENI)</td>
                    <td class="tg-0pky text-right">{{ totalFct + totalInvesti }}</td>
                </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>                