
<div class="row">
        <!-- column -->
        <div class="col-12">
            <div class="card">
                <div class="card-body">

  

<div class="row mt-n">

    <div class="col-sm-4">
      <div class="card border rounde">
        <div class="card-body">
            <h5 class="m-b-0">Documenet de dépenses</h5>
            <p class="card-text">Dépense par programme</p>
            <p class="card-text font-weight-bold">{{ etablissementInfo.nom }}</p>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
        <div class="card text-center">
          <div class="card-body">
             <p> <button type="button" (click)="onYearChose(dateNow)" class="btn btn-outline-success">Année en cours</button></p>
             <div>
                <div class="basic-container">
                    <div>
                        <jp-multi-datepicker tabindex="-1" 
                                    (change)="onYearChose($event)" 
                                    (dateChange)="onYearChose($event)"  
                                    mode="YEAR" label="Choisir année" 
                                    [max]="dateMax"></jp-multi-datepicker><br>
                          </div>
                </div>
                  
            </div>
          </div>
        </div>
      </div>

    <div class="col-sm-4">
      <div class="card border rounded">
        <div class="card-body">
            <h4><code>Porgramme:</code> {{ etablissementInfo.programme}} </h4>
            <code>Intitulé:</code>{{etablissementInfo.designation}}
        </div>
      </div>
    </div>

  </div>

                    <div class="tg-wrap">
                    <table class="table table-borderless table-sm ">
                    <thead>
                        <tr>
                            <th class="tg-0pky card-header font-weight-bold alert alert-danger"  colspan="5">FONTIONNEMENT</th>
                            <th class="tg-0pky card-header text-right alert alert-danger"  colspan="5">En Ariary</th>
                        </tr>
                        <tr>
                            <th class="tg-0pky"  colspan="5">SECTIONS</th>
                            <th class="tg-0pky"></th>
                        </tr>
                        <tr>
                            <th class="tg-0pky" scope="col" colspan="4">N° Comptes  </th>
                            <th class="tg-0pky" scope="col">Intitulés</th>
                            <th class="tg-0pky text-right" scope="col">PREVISION 2019</th>
                        </tr>
                    </thead>  

                    <tr *ngFor="let compte of tableFonctionnement" 
                        [ngClass]="(compte.type == 'chapitre')? ' alert alert-primary':'' ||
                                   (compte.type == 'section')? ' alert alert-success':'' || 
                                   (compte.type == 'article')? 'alert alert-warning':'' || 
                                   (compte.type == 'compte')? 'alert alert-secondary':''"
                        >
                        <td class="tg-0pky" *ngIf="compte.type == 'chapitre'">{{ compte.numCompte }}</td>
                        <td class="tg-0pky" *ngIf="compte.type == 'chapitre'"></td>
                        <td class="tg-0pky" *ngIf="compte.type == 'chapitre'"></td> 
                        <td class="tg-0pky" *ngIf="compte.type == 'chapitre'"></td>

                        <td class="tg-0pky" *ngIf="compte.type == 'section'"></td>
                        <td class="tg-0pky" *ngIf="compte.type == 'section'">{{ compte.numCompte }}</td>
                        <td class="tg-0pky" *ngIf="compte.type == 'section'"></td>
                        <td class="tg-0pky" *ngIf="compte.type == 'section'"></td>

                        <td class="tg-0pky" *ngIf="compte.type == 'article'"></td>
                        <td class="tg-0pky" *ngIf="compte.type == 'article'"></td>
                        <td class="tg-0pky" *ngIf="compte.type == 'article'">{{ compte.numCompte }}</td>
                        <td class="tg-0pky" *ngIf="compte.type == 'article'"></td>

                        <td class="tg-0pky" *ngIf="compte.type == 'compte'"></td>
                        <td class="tg-0pky" *ngIf="compte.type == 'compte'"></td>
                        <td class="tg-0pky" *ngIf="compte.type == 'compte'"></td>
                        <td class="tg-0pky" *ngIf="compte.type == 'compte'">{{ compte.numCompte }}</td>

                        <td class="tg-0pky">{{ compte.intitule }}</td>
                        <td class="tg-0pky text-right">{{ compte.montant }}</td>
                    </tr>
                    <tr class="font-weight-bold">
                        <td class="tg-0pky" colspan="4"></td>
                        <td class="tg-0pky">TOTAL FONCTIONNEMENT</td>
                        <td class="tg-0pky text-right">{{ totalFct }}</td>
                    </tr>


                    <tr *ngIf="totalInvesti > 0">
                        <td class="tg-0pky card-header font-weight-bold alert alert-danger" colspan="6">INVESTISSEMENT</td>
                    </tr>
                    <tr *ngFor="let compte of tableInvestissement" 
                    [ngClass]="(compte.type == 'chapitre')? 'alert alert-primary':'' ||
                               (compte.type == 'section')? 'alert alert-success':'' || 
                               (compte.type == 'article')? 'alert alert-warning':'' || 
                               (compte.type == 'compte')? 'alert alert-secondary':''"
                    >
                    <td class="tg-0pky" *ngIf="compte.type == 'chapitre'">{{ compte.numCompte }}</td>
                    <td class="tg-0pky" *ngIf="compte.type == 'chapitre'"></td>
                    <td class="tg-0pky" *ngIf="compte.type == 'chapitre'"></td> 
                    <td class="tg-0pky" *ngIf="compte.type == 'chapitre'"></td>

                    <td class="tg-0pky" *ngIf="compte.type == 'section'"></td>
                    <td class="tg-0pky" *ngIf="compte.type == 'section'">{{ compte.numCompte }}</td>
                    <td class="tg-0pky" *ngIf="compte.type == 'section'"></td>
                    <td class="tg-0pky" *ngIf="compte.type == 'section'"></td>

                    <td class="tg-0pky" *ngIf="compte.type == 'article'"></td>
                    <td class="tg-0pky" *ngIf="compte.type == 'article'"></td>
                    <td class="tg-0pky" *ngIf="compte.type == 'article'">{{ compte.numCompte }}</td>
                    <td class="tg-0pky" *ngIf="compte.type == 'article'"></td>

                    <td class="tg-0pky" *ngIf="compte.type == 'compte'"></td>
                    <td class="tg-0pky" *ngIf="compte.type == 'compte'"></td>
                    <td class="tg-0pky" *ngIf="compte.type == 'compte'"></td>
                    <td class="tg-0pky" *ngIf="compte.type == 'compte'">{{ compte.numCompte }}</td>

                    <td class="tg-0pky">{{ compte.intitule }}</td>
                    <td class="tg-0pky text-right">{{ compte.montant }}</td>
                </tr>
                <tr class="font-weight-bold" *ngIf="totalInvesti > 0">
                    <td class="tg-0pky" colspan="4"></td>
                    <td class="tg-0pky">TOTAL INVESTISSEMENT</td>
                    <td class="tg-0pky text-right">{{ totalInvesti }}</td>
                </tr>

                <tr  class="font-weight-bold text-danger">
                    <td class="tg-0pky" colspan="5">TOTAL DES DEPENSES DU PROGRAMME {{ etablissementInfo.programme}} ({{ etablissementInfo.nom }})</td>
                    <td class="tg-0pky text-right">{{ totalFct + totalInvesti }}</td>
                </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>                