

<div class="row justify-content-md-center" style="margin: 50px 0 -50px 0;">
  <div class="col col-lg-5" >
  <!-- Default form login -->
        <form 
        [formGroup]="etablissementForm"
        (ngSubmit)="onSubmitForm()"
        class="text-center z-depth-1 p-5" 
        style="background-color: rgb(255, 255, 255);">

            <p class="h4 mb-4">Créer un compte</p>
            <!-- Email -->
            
            <div class="example-container">

                <mat-form-field class="example-full-width">
                        <mat-select placeholder="Type compte"  #typeCompte formControlName="typeCompte">
                            <mat-option value="option">Etablissement</mat-option>
                            <mat-option value="option">Administration</mat-option>
                        </mat-select>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                        <input matInput placeholder="Nom del'établissement" #name formControlName="name" name="name" minlength="2" required>
                        <mat-error [hidden]="name.valid || name.pristine">
                            Nom obligatiore, au moins deux caracteres
                        </mat-error>
                </mat-form-field>

               
            </div>
            <div class="d-flex justify-content-around" style="margin-top: 20px;">
                <div>
                   
                <!-- Sign in button -->
                <button 
                    class="btn btn-info btn-block my-4" 
                    [disabled]="etablissementForm.invalid" 
                    type="submit">
                    Creer maintenant
                </button>
                </div>
               
            </div>
        </form>
</div>
</div>

<!-- 

<div class="example-container">
        <mat-form-field>
                <mat-select placeholder="Type compte">
                  <mat-option value="option">Option</mat-option>
                </mat-select>
              </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Input">
    </mat-form-field>
  
    <mat-form-field>
      <textarea matInput placeholder="Textarea"></textarea>
    </mat-form-field>
  
   
  </div> -->