
<div class="row">
    <!-- column -->
    <div class="col-12">
        <div class="card">
            <div class="card-body">



<div class="row">

<div class="col-sm-12">
  <div class="card border rounde">
    <div class="card-body text-center">
        <h6 class="card-text font-weight-bold">RECAPITULATION DES DEPENSES</h6>
    </div>
  </div>
</div>

</div>

<div class="basic-container text-right mt-n">
    <div>
        <jp-multi-datepicker tabindex="-1" 
                    (change)="onYearChose($event)" 
                    (dateChange)="onYearChose($event)"  
                    mode="YEAR" label="Choisir année" 
                    class="text-right"
                    [max]="dateMax"></jp-multi-datepicker><br>
          </div>
</div>

                <div class="tg-wrap">
                <table class="table table-borderless table-sm ">
                <thead>
                   
                    <tr>
                        <th class="tg-0pky"  colspan="7">SECTIONS</th>
                        <th class="tg-0pky"></th>
                    </tr>
                    <tr>
                        <th class="tg-0pky card-header font-weight-bold alert alert-danger"  colspan="7">
                            <span *ngIf="totalFct > 0">FONTIONNEMENT</span>
                        </th>
                        <th class="tg-0pky card-header text-right alert alert-danger">En Ariary</th>
                    </tr>
                    <tr class="font-weight-bold">
                        <th class="tg-0pky font-weight-bold text-c" scope="col" colspan="4">N° Comptes  </th>
                        <th class="tg-0pky font-weight-bold text-c" scope="col">Intitulés</th>
                        <th class="tg-0pky font-weight-bold text-c text-right" scope="col">PROG 028</th>
                        <th class="tg-0pky font-weight-bold text-c text-right" scope="col">PROG 310</th>
                        <th class="tg-0pky font-weight-bold text-c text-right text-danger" scope="col">PREVISION 2019</th>
                    </tr>
                </thead>  

                <tr *ngFor="let compte of tableFonctionnement" 
                    [ngClass]="(compte.type == 'chapitre')? ' alert-primary':'' ||
                               (compte.type == 'section')? ' alert-success':'' || 
                               (compte.type == 'article')? 'alert alert-warning':'' || 
                               (compte.type == 'compte')? 'alert alert-secondary':''"
                    >
                    <td class="tg-0pky" *ngIf="compte.type == 'chapitre'">{{ compte.numCompte }}</td>
                    <td class="tg-0pky" *ngIf="compte.type == 'chapitre'"></td>
                    <td class="tg-0pky" *ngIf="compte.type == 'chapitre'"></td> 
                    <td class="tg-0pky" *ngIf="compte.type == 'chapitre'"></td>

                    <td class="tg-0pky" *ngIf="compte.type == 'section'"></td>
                    <td class="tg-0pky" *ngIf="compte.type == 'section'">{{ compte.numCompte }}</td>
                    <td class="tg-0pky" *ngIf="compte.type == 'section'"></td>
                    <td class="tg-0pky" *ngIf="compte.type == 'section'"></td>

                    <td class="tg-0pky" *ngIf="compte.type == 'article'"></td>
                    <td class="tg-0pky" *ngIf="compte.type == 'article'"></td>
                    <td class="tg-0pky" *ngIf="compte.type == 'article'">{{ compte.numCompte }}</td>
                    <td class="tg-0pky" *ngIf="compte.type == 'article'"></td>

                    <td class="tg-0pky" *ngIf="compte.type == 'compte'"></td>
                    <td class="tg-0pky" *ngIf="compte.type == 'compte'"></td>
                    <td class="tg-0pky" *ngIf="compte.type == 'compte'"></td>
                    <td class="tg-0pky" *ngIf="compte.type == 'compte'">{{ compte.numCompte }}</td>

                    <td class="tg-0pky">{{ compte.intitule }}</td>
                    <td class="tg-0pky text-right">{{ compte.prog028 }}</td>

                    <td class="tg-0pky text-right">{{ compte.prog310 }}</td>
                    <td class="tg-0pky text-right">{{ compte.prevision }}</td>
                </tr>
                <tr *ngIf="totalFct > 0">
                    <td class="tg-0pky" colspan="4"></td>
                    <td class="tg-0pky font-weight-bold">TOTAL FONCTIONNEMENT</td>
                    <td class="tg-0pky text-right">{{ totalF028 }}</td>

                    <td class="tg-0pky text-right">{{ totalF310 }}</td>
                    <td class="tg-0pky text-right">{{ totalFct }}</td>
                    
                </tr>


                <tr>
                    <td class="tg-0pky card-header font-weight-bold alert alert-danger" colspan="8">
                        <span *ngIf="totalInvesti > 0">
                            INVESTISSEMENT</span>
                        </td>
                </tr>

                <tr *ngFor="let compte of tableInvestissement" 
                [ngClass]="(compte.type == 'chapitre')? 'table table-bordered alert alert-primary':'' ||
                           (compte.type == 'section')? 'table table-bordered alert alert-success':'' || 
                           (compte.type == 'article')? 'table table-bordered alert alert-warning':'' || 
                           (compte.type == 'compte')? 'table table-bordered alert alert-secondary':''"
                >
                <td class="tg-0pky" *ngIf="compte.type == 'chapitre'">{{ compte.numCompte }}</td>
                <td class="tg-0pky" *ngIf="compte.type == 'chapitre'"></td>
                <td class="tg-0pky" *ngIf="compte.type == 'chapitre'"></td> 
                <td class="tg-0pky" *ngIf="compte.type == 'chapitre'"></td>

                <td class="tg-0pky" *ngIf="compte.type == 'section'"></td>
                <td class="tg-0pky" *ngIf="compte.type == 'section'">{{ compte.numCompte }}</td>
                <td class="tg-0pky" *ngIf="compte.type == 'section'"></td>
                <td class="tg-0pky" *ngIf="compte.type == 'section'"></td>

                <td class="tg-0pky" *ngIf="compte.type == 'article'"></td>
                <td class="tg-0pky" *ngIf="compte.type == 'article'"></td>
                <td class="tg-0pky" *ngIf="compte.type == 'article'">{{ compte.numCompte }}</td>
                <td class="tg-0pky" *ngIf="compte.type == 'article'"></td>

                <td class="tg-0pky" *ngIf="compte.type == 'compte'"></td>
                <td class="tg-0pky" *ngIf="compte.type == 'compte'"></td>
                <td class="tg-0pky" *ngIf="compte.type == 'compte'"></td>
                <td class="tg-0pky" *ngIf="compte.type == 'compte'">{{ compte.numCompte }}</td>

                <td class="tg-0pky">{{ compte.intitule }}</td>
                <td class="tg-0pky text-right">{{ compte.prog028 }}</td>

                <td class="tg-0pky text-right">{{ compte.prog310 }}</td>
                <td class="tg-0pky text-right">{{ compte.prevision }}</td>
            </tr>
            <tr *ngIf="totalInvesti > 0">
                <td class="tg-0pky" colspan="4"></td>
                <td class="tg-0pky font-weight-bold">TOTAL INVESTISSEMENT</td>
                <td class="tg-0pky text-right">{{ totalI028 }}</td>

                <td class="tg-0pky text-right">{{ totalI310 }}</td>
                <td class="tg-0pky text-right">{{ totalInvesti }}</td>
                
            </tr>

            <tr  class="text-danger" *ngIf="totalFct + totalInvesti > 0">
                <td class="tg-0pky font-weight-bold" colspan="5">TOTAL DES DEPENSES DU PROGRAMME 310(ENI)</td>
                <td class="tg-0pky text-right">{{totalF028 + totalI028}}</td>
                <td class="tg-0pky text-right">{{ totalF310 + totalI310 }}</td>
                <td class="tg-0pky text-right">{{ totalFct + totalInvesti }}</td>
            </tr>

                </table>
            </div>
            <div class="card" *ngIf="totalFct + totalInvesti == 0">
                <div class="card-body text-center">
                  <h6><i class=" mdi mdi-package-variant"></i>
                     Aucun élément à afficher pour l'année {{ yearSearch }}
                 </h6>
                </div>
              </div>

        </div>
    </div>
</div>
</div>                