


<div class="row">
    <!-- column -->
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <table class="tg table">
                    <tr>
                    <th class="tg-dceu" colspan="5">Depense</th>
                    <th class="tg-edsz" colspan="5">Recette</th>
                    </tr>
                    <tr>
                    <td class="tg-kxqw">chap</td>
                    <td class="tg-kxqw">Article</td>
                    <td class="tg-kxqw">Compte</td>
                    <td class="tg-kxqw">INTITULE</td>
                    <td class="tg-kxqw">TOTAL</td>
                    <td class="tg-3jfj">Chap</td>
                    <td class="tg-3jfj">Article</td>
                    <td class="tg-3jfj">Compte</td>
                    <td class="tg-3jfj">INTITULE</td>
                    <td class="tg-3jfj">TOTAL</td>
                    </tr>
                    <tr>
                    <td class="tg-72gn"></td>
                    <td class="tg-72gn"></td>
                    <td class="tg-72gn"></td>
                    <td class="tg-72gn"></td>
                    <td class="tg-72gn"></td>
                    <td class="tg-ogs0"></td>
                    <td class="tg-ogs0"></td>
                    <td class="tg-ogs0"></td>
                    <td class="tg-ogs0"></td>
                    <td class="tg-ogs0"></td>
                    </tr>
                    <tr>
                    <td class="tg-72gn"></td>
                    <td class="tg-72gn"></td>
                    <td class="tg-72gn"></td>
                    <td class="tg-72gn"></td>
                    <td class="tg-72gn"></td>
                    <td class="tg-ogs0"></td>
                    <td class="tg-ogs0"></td>
                    <td class="tg-ogs0"></td>
                    <td class="tg-ogs0"></td>
                    <td class="tg-ogs0"></td>
                    </tr>
                    <tr>
                    <td class="tg-72gn"></td>
                    <td class="tg-72gn"></td>
                    <td class="tg-72gn"></td>
                    <td class="tg-72gn">SOUS TOTAL DEPENSES</td>
                    <td class="tg-72gn"></td>
                    <td class="tg-ogs0"></td>
                    <td class="tg-ogs0"></td>
                    <td class="tg-ogs0"></td>
                    <td class="tg-ogs0">SOUS TOTAL DEPENSES</td>
                    <td class="tg-ogs0"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>                