
<div class="row border">
  <div class="col-md-12">
    <div class="card card">
      <div class="card-body">
                    
            <div class="auth-box m-6 m-md-1">
              <div id="loginform">
                <div class="logo text-center">
                  <span class="db">
                    <img alt="logo" src="assets/images/logo.png" style="width: 100px; height: 100px;">
                  </span>
                  <h5 class="font-medium m-b-20">GBF - Login</h5>
                </div>
                <div class="row">
                  <div class="col-12">
                    <form class="form-horizontal m-t-20" [formGroup]="loginForm" (ngSubmit)="login()" id="loginform">
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">
                            <i class="ti-email"></i>
                          </span>
                        </div>
                        <input formControlName="email" aria-describedby="basic-addon1" aria-label="Username" class="form-control example-container" placeholder="email"
                          type="text">
                      </div>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon2">
                            <i class="ti-pencil"></i>
                          </span>
                        </div>
                        <input aria-describedby="basic-addon1" type="password" formControlName="password" aria-label="Password" class="form-control example-container" placeholder="Mot de passe"
                        >
                      </div>
                      <div class="form-group row">
                        <div class="col-md-12">
                          <div class="custom-control custom-checkbox d-flex">
                            <input class="custom-control-input" id="customCheck1" type="checkbox">
                            <label class="custom-control-label font-14" for="customCheck1">Se souvenir de moi</label>
                            <a class="text-dark font-14 ml-auto" href="javascript:void(0)" id="to-recover">
                              <i class="fa fa-lock m-r-5">

                              </i> Mot de passe oublier?</a>
                          </div>
                        </div>
                      </div>
                      <div class="form-group text-center">
                        <div class="col-xs-12 p-b-20"><button [disabled]="loginForm.invalid" type="submit" class="btn btn-block btn-lg btn-info">Se connnecter
                            </button></div>
                      </div>
                     
                      <div class="form-group m-b-0 m-t-10">
                        <div class="col-sm-12 text-center"> Gestion budget et financier de l'Université de Fianarantsoa
                          </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>


          </div>
          </div>
        </div>
      </div>