
<!-- ============================================================== -->

<!-- 
<div class="row justify-content-md-center" style="margin-top: -30px;">
        <div class="col col-lg-11" > -->

                <div class="card-header text-white text-center border rounded bg-secondary">
                       FONCTIONNEMENT - COMPTES DE CHARGES
                </div>

<form class="z-depth-1 p-5" 
    [formGroup]="budgetForm"
    (ngSubmit)="onSubmitForm()"
    style="background-color: rgb(255, 255, 255);"
    > 
   
    <div class="basic-container">
	<div>
        <jp-multi-datepicker tabindex="-1" 
                    formControlName="annee"
                    (change)="onYearChose($event)" 
                    (dateChange)="onYearChose($event)"  
                    mode="YEAR" label="Choisir année" 
                    [max]="dateMax"></jp-multi-datepicker><br>
    </div>
</div>
    <!-----------------charge de personnel---------------------->
<!-- debut form static -->
<div class="card border rounded">
        <div class="card-header border-bottom">
                60 - Charges de personnel
        </div>
<!-- fin formilaire static         -->

<!-- debut form dynamique -->
<div formArrayName="rows" style="margin: 5px 5px 5px 10px;">
        <div class=" form-row border-bottom" 
        *ngFor="let row of budgetForm.controls.rows.controls; let i = index" [formGroupName]="i">


                <div class="form-group col-md-8">
                    <label for="inputState">Compte</label>
                    <select id="inputState" class="form-control" formControlName="compte">
                        <option *ngFor="let a of compte60" [value]="a.id">{{a.numCompte}} - {{a.intitule}}</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                  <label for="inputPassword4">Montant</label>
                  <input 
                  #montant formControlName="montant" name="montant" minlength="2" required
                  type="number" class="form-control" id="inputPassword4">
                </div>
                <div class="col-md-1" style="margin-top: 30px;"> 
                     <button class="btn btn-light mb-2 mx-sm" (click)="onDeleteRow(i, 'rows')">
                            <i class="ti-trash"></i>
                     </button>
                </div>
                
        </div>
</div>
<!-- fin form static -->
<button type="button" (click)="initGroup('rows')" class="btn btn-outline-secondary">Ajouter compte</button>
</div>

 <!-----------------Fin charge de personnel---------------------->



     <!-----------------Achat et bien---------------------->
<!-- debut form static -->
<div class="card border rounded">
        <div class="card-header border-bottom">
                61 - Achats de biens
        </div>
<!-- fin formilaire static-->

<!-- debut form dynamique -->
<div formArrayName="achatDeBiens" style="margin: 5px 5px 5px 10px;">
        <div class=" form-row border-bottom" 
        *ngFor="let row of budgetForm.controls.achatDeBiens.controls; let i = index" [formGroupName]="i">
        
                <div class="form-group col-md-8">
                    <label for="inputState">Compte </label>
                    <select id="inputState" class="form-control" formControlName="compte">
                        <option *ngFor="let a of compte61" [value]="a.id">{{a.numCompte}} - {{a.intitule}}</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                  <label for="inputPassword4">Montant</label>
                  <input 
                  #montant formControlName="montant" name="montant" minlength="2" required
                  type="number" class="form-control" id="inputPassword4">
                </div>
                <div class="col-md-1" style="margin-top: 30px;"> 
                        <button class="btn btn-light mb-2 mx-sm" (click)="onDeleteRow(i, 'achatDeBiens')"><i class="ti-trash"></i></button>
                   </div>
                
        </div>
</div>
<!-- fin form static -->
<button type="button" (click)="initGroup('achatDeBiens')" class="btn btn-outline-secondary">Ajouter compte</button>
</div>

 <!-----------------Fin Achat et bien---------------------->


    <!-----------------Achat de services et charges permanents---------------------->
<!-- debut form static -->
<div class="card border rounded">
        <div class="card-header border-bottom">
                62 - Achats de services et charges permanentes
        </div>
<!-- fin formilaire static         -->

<!-- debut form dynamique -->
<div formArrayName="achatServiceChargePerma" style="margin: 5px 5px 5px 10px;">
        <div class=" form-row border-bottom" 
        *ngFor="let row of budgetForm.controls.achatServiceChargePerma.controls; let i = index" [formGroupName]="i">
             <div class="form-group col-md-8">
                    <label for="inputState">Compte</label>
                    <select id="inputState" class="form-control" formControlName="compte">
                        <option *ngFor="let a of compte62" [value]="a.id">{{a.numCompte}} - {{a.intitule}}</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                  <label for="inputPassword4">Montant</label>
                  <input 
                  #montant formControlName="montant" name="montant" minlength="2" required
                  type="number" class="form-control" id="inputPassword4">
                </div>
                <div class="col-md-1" style="margin-top: 30px;"> 
                        <button class="btn btn-light mb-2 mx-sm" (click)="onDeleteRow(i, 'achatServiceChargePerma')"><i class="ti-trash"></i></button>
                   </div>
                
        </div>
</div>
<!-- fin form static -->
<button type="button" (click)="initGroup('achatServiceChargePerma')" class="btn btn-outline-secondary">Ajouter compte</button>
</div>

 <!-----------------Fin Achat de services et charges permanents---------------------->

     <!-----------------Transfert et subvention---------------------->
<!-- debut form static -->
<div class="card border rounded">
        <div class="card-header border-bottom">
                65 - Transferts et Subventions 
        </div>
<!-- fin formilaire static         -->

<!-- debut form dynamique -->
<div formArrayName="transSub" style="margin: 5px 5px 5px 10px;">
        <div class=" form-row border-bottom" 
        *ngFor="let row of budgetForm.controls.transSub.controls; let i = index" [formGroupName]="i">

                <div class="form-group col-md-8">
                    <label for="inputState">Compte</label>
                    <select id="inputState" class="form-control" formControlName="compte">
                        <option *ngFor="let a of compte65" [value]="a.id">{{a.numCompte}} - {{a.intitule}}</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                  <label for="inputPassword4">Montant</label>
                  <input 
                  #montant formControlName="montant" name="montant" minlength="2" required
                  type="number" class="form-control" id="inputPassword4">
                </div>
                <div class="col-md-1" style="margin-top: 30px;"> 
                        <button class="btn btn-light mb-2 mx-sm" (click)="onDeleteRow(i, 'transSub')"><i class="ti-trash"></i></button>
                   </div>
                
        </div>
</div>
<!-- fin form static -->
<button type="button" (click)="initGroup('transSub')" class="btn btn-outline-secondary">Ajouter compte</button>
</div>

 <!-----------------Transfert et subvention---------------------->



<br />
        <button 
            type="submit" 
            [disabled]="budgetForm.invalid" 
            class="btn btn-primary">Valider
        </button>
      </form>
<!-- 
      </div>
      </div> -->