
<!-- <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button"  class="btn btn-danger">Annuler</button>
</div> -->
<!-- ============================================================== -->

                
<div class="row justify-content-md-center" style="margin: 30px 0 -30px 0;">
    <div class="col col-lg-6" >
    <!-- Default form login -->
          <form 
          [formGroup]="budgetForm"
          (ngSubmit)="onSubmitForm()"
          class="text-center z-depth-1 p-5" 
          style="background-color: rgb(255, 255, 255);">
  
              <p class="h4 mb-4">Création du budget previsionnel</p>
              <!-- Email -->
              
              <div class="example-container">
  
                  <mat-form-field class="example-full-width">
                          <mat-select placeholder="Type compte"  #typeCompte formControlName="categorie">
                              <mat-option value="" disabled>Choisir la section</mat-option>
                              <mat-option value="fonctionnement">Fonctionnement</mat-option>
                              <mat-option value="investissement">Investissememt</mat-option>
                          </mat-select>
                  </mat-form-field>
  
                  <mat-form-field class="example-full-width">
                          <input matInput placeholder="Montant" type="number" #montant formControlName="montant" name="montant" minlength="2" required>
                          <mat-error [hidden]="montant.valid || montant.pristine">
                              
                          </mat-error>
                  </mat-form-field>
  
                 
              </div>
              <div class="d-flex justify-content-around" style="margin-top: 20px;">
                  <div>
                     
                  <!-- Sign in button -->
                  <button 
                      class="btn btn-info btn-block my-4" 
                      [disabled]="budgetForm.invalid" 
                      type="submit">
                      Creer maintenant
                  </button>
                  </div>
                 
              </div>
          </form>
  </div>
  </div>
<!-- ============================================================== -->
