
<!-- ============================================================== -->
<div class="row">
    <!-- column -->
    <div class="col-12">
        <div class="card">
            
                <div class="card-header  text-center border rounded ">
                        Programme 310
                </div>

            <div class="card-body">
                <h4 class="card-title">Listes des établissements</h4>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="border-top-0">index</th>
                            <th class="border-top-0">Nom</th>
                            <th class="border-top-0">Année en cours</th>
                            <th class="border-top-0">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let e of budgets">
                            <td class="txt-oflo">{{e.id}}</td>
                            <td>{{e.nom}}</td>
                            <td ><span type="button" [routerLink]="['/programme310/budget-annuel']" class="label label-info label-rounded" >{{e.annee}}</span> </td>
                            <td><button type="button" [routerLink]="['/programme310/annee-etablissement']" class="btn btn-sm btn-outline-info">Consulter >></button></td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->