

<div class="row justify-content-md-center">
    <div class="col col-lg-5" >
    <!-- Default form login -->
          <form 
          [formGroup]="chapitreForm"
          (ngSubmit)="onSubmitForm()"
          class="text-center z-depth-1 p-5 border" 
          style="background-color: rgb(250, 250, 250);">
  
              <p class="h4 mb-4">Créer Chapitre</p>
              <!-- Email -->
              
              <div class="example-container">
  
                  <mat-form-field class="example-full-width">
                          <mat-select placeholder="Type compte"  #categorie formControlName="categorie" [disabled]="edit">
                              <mat-option  *ngFor="let e of categorieList, let i=index" [value]="e.id"> {{e.nom}}</mat-option>
                          </mat-select>
                  </mat-form-field>

                  <mat-form-field class="example-full-width">
                    <input matInput type="number" placeholder="Classe (Numéro du compte)" #numChap formControlName="numChap" name="numChap" maxlength="1" required>
                    <mat-error [hidden]="numChap.valid || numChap.pristine">
                        Un chifre au maximum
                    </mat-error>
                 </mat-form-field>
  
                  <mat-form-field class="example-full-width">
                          <input matInput placeholder="Intitulé" #name formControlName="name" name="name" minlength="2" required>
                          <mat-error [hidden]="name.valid || name.pristine">
                              Nom obligatiore, au moins deux caracteres
                          </mat-error>
                  </mat-form-field>
  
                 
              </div>
              <div class="d-flex justify-content-around" style="margin-top: 20px;">
                  <div>
                     
                  <!-- Sign in button -->
                  <button 
                      class="btn btn-info btn-block my-4" 
                      [disabled]="chapitreForm.invalid" 
                      type="submit">
                     Valider
                  </button>
                  </div>
                 
              </div>
          </form>
  </div>
  </div>
  