
<div class="row">
    <!-- column -->
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="tg-wrap">
                <table class="tg table table-bordered">
                <thead>
                    <tr>
                        <th class="tg-0pky card-header font-weight-bold"  colspan="3">FONTIONNEMENT</th>
                    </tr>
                    <tr>
                        <th class="tg-0pky"  colspan="2">SECTIONS</th>
                        <th class="tg-0pky">AUTORISATION D'ENGAGEMENT</th>
                    </tr>
                    <tr>
                        <th class="tg-0pky" scope="col">N° Comptes  </th>
                        <th class="tg-0pky" scope="col">Intitulés</th>
                        <th class="tg-0pky" scope="col">PREVISION 2019</th>
                    </tr>
                </thead>  

                <tr>
                    <td class="tg-fymr">6</td>
                    <td class="tg-fymr">chapitre</td>
                    <td class="tg-fymr">0000</td>
                </tr>
                <tr>
                    <td class="tg-fymr">60</td>
                    <td class="tg-4erg">section</td>
                    <td class="tg-fymr">0000</td>
                </tr>
                <tr>
                    <td class="tg-fymr">601</td>
                    <td class="tg-fymr">article</td>
                    <td class="tg-0pky">0000</td>
                </tr>
                <tr>
                    <td class="tg-0pky">6011</td>
                    <td class="tg-0pky">compte</td>
                    <td class="tg-0pky">00042342342342340</td>
                </tr>
                <tr>
                    <td class="tg-fymr">60</td>
                    <td class="tg-4erg">section</td>
                    <td class="tg-0pky">0000</td>
                </tr>
                <tr>
                    <td class="tg-fymr">601</td>
                    <td class="tg-fymr">article</td>
                    <td class="tg-0pky">0000</td>
                </tr>
                <tr>
                    <td class="tg-0pky">6011</td>
                    <td class="tg-0pky">compte</td>
                    <td class="tg-0pky">0000</td>
                </tr>
                <tr>
                    <td class="tg-0pky"></td>
                    <td class="tg-0pky">TOTAL FONCTIONNEMENT</td>
                    <td class="tg-0pky">000</td>
                </tr>


                <tr>
                    <td class="tg-0pky card-header font-weight-bold" colspan="3">Investissement</td>
                </tr>
                <tr>
                    <td class="tg-0pky">6</td>
                    <td class="tg-0pky">chapitre</td>
                    <td class="tg-0pky">0000</td>
                </tr>
                <tr>
                    <td class="tg-0pky">60</td>
                    <td class="tg-0pky">section</td>
                    <td class="tg-0pky">0000</td>
                </tr>
                <tr>
                    <td class="tg-0pky">601</td>
                    <td class="tg-0pky">article</td>
                    <td class="tg-0pky">0000</td>
                </tr>
                <tr>
                    <td class="tg-0pky">6011</td>
                    <td class="tg-0pky">compte</td>
                    <td class="tg-0pky">0000</td>
                </tr>
                <tr>
                    <td class="tg-0pky"></td>
                    <td class="tg-0pky">TOTAL DES RECETTES (Investissement)</td>
                    <td class="tg-0pky">0000</td>
                </tr>
                <tr>
                    <td class="tg-0pky" colspan="2">TOTAL DES RECETTES</td>
                    <td class="tg-0pky"></td>
                </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</div>                