
<div class="row">
    <!-- column -->
    <div class="col-12">
        <div class="card">
            <div class="card-body">



<div class="row mt-n">

<div class="col-sm-4">
  <div class="card border rounde">
    <div class="card-body">
        <h5 class="m-b-0">Documenet de recette</h5>
        <p class="card-text font-weight-bold">Mision: 840</p>
    </div>
  </div>
</div>

<div class="col-sm-4">
    <div class="card text-center">
      <div class="card-body">
         <p> <button type="button"  (click)="onYearChose(dateNow)" class="btn btn-outline-success">Année en cours</button></p>
         <div>
            <div class="basic-container">
                <div>
                    <jp-multi-datepicker tabindex="-1" 
                    (change)="onYearChose($event)" 
                    (dateChange)="onYearChose($event)"  
                    mode="YEAR" label="Choisir année" 
                    [max]="dateMax"></jp-multi-datepicker><br>
                </div>
            </div>
              
        </div>
      </div>
    </div>
  </div>

<div class="col-sm-4">
  <div class="card border rounded">
    <div class="card-body">
        <h4><code>Porgramme:</code> 310 </h4>
        <h4><code>Intitulé:</code> Enseigment supérieur </h4>
    </div>
  </div>
</div>

</div>

                <div class="tg-wrap">
                <table class="table table-borderless table-sm ">
                <thead>
                    <tr>
                        <th class="tg-0pky card-header font-weight-bold alert alert-danger"  colspan="5"><span *ngIf="totalFct > 0">FONTIONNEMENT</span></th>
                        <th class="tg-0pky card-header text-right alert alert-danger"  colspan="1">En Ariary</th>
                        <th class="tg-0pky card-header text-right mt-modif alert alert-danger">Modifier</th>
                    </tr>
                    <tr>
                        <th class="tg-0pky" scope="col" colspan="4">N° Comptes  </th>
                        <th class="tg-0pky" scope="col">Intitulés</th>
                        <th class="tg-0pky text-right" scope="col">PREVISION 2019</th>
                        <th></th>
                    </tr>
                </thead>  

                <tr *ngFor="let compte of tableFonctionnement" 
                    [ngClass]="(compte.type == 'chapitre')? ' alert alert-primary':'' ||
                               (compte.type == 'section')? ' alert alert-success':'' || 
                               (compte.type == 'article')? 'alert alert-warning':'' || 
                               (compte.type == 'compte')? 'alert alert-secondary':''"
                    >
                    <td class="tg-0pky" *ngIf="compte.type == 'chapitre'">{{ compte.numCompte }}</td>
                    <td class="tg-0pky" *ngIf="compte.type == 'chapitre'"></td>
                    <td class="tg-0pky" *ngIf="compte.type == 'chapitre'"></td> 
                    <td class="tg-0pky" *ngIf="compte.type == 'chapitre'"></td>

                    <td class="tg-0pky" *ngIf="compte.type == 'section'"></td>
                    <td class="tg-0pky" *ngIf="compte.type == 'section'">{{ compte.numCompte }}</td>
                    <td class="tg-0pky" *ngIf="compte.type == 'section'"></td>
                    <td class="tg-0pky" *ngIf="compte.type == 'section'"></td>

                    <td class="tg-0pky" *ngIf="compte.type == 'article'"></td>
                    <td class="tg-0pky" *ngIf="compte.type == 'article'"></td>
                    <td class="tg-0pky" *ngIf="compte.type == 'article'">{{ compte.numCompte }}</td>
                    <td class="tg-0pky" *ngIf="compte.type == 'article'"></td>

                    <td class="tg-0pky" *ngIf="compte.type == 'compte'"></td>
                    <td class="tg-0pky" *ngIf="compte.type == 'compte'"></td>
                    <td class="tg-0pky" *ngIf="compte.type == 'compte'"></td>
                    <td class="tg-0pky" *ngIf="compte.type == 'compte'">{{ compte.numCompte }}</td>

                    <td class="tg-0pky">{{ compte.intitule }}</td>
                    <td class="tg-0pky text-right">{{ compte.montant }}</td>

                    <td class="tg-0pky text-right mt-modif"  *ngIf="compte.type == 'compte'">
                        <button type="button" class="btn btn-outline-danger btn-sm rounded m-r-5">
                            <i class="mdi mdi-delete-empty"></i>
                        </button>
                        <button type="button" (click)="openDialog(compte)" class="btn btn-outline-secondary btn-sm rounded">
                            <i class="mdi mdi-table-edit"></i>
                        </button>
                    </td>
                  
                </tr>
                <tr  *ngIf="totalFct > 0">
                    <td class="tg-0pky" colspan="4"></td>
                    <td class="tg-0pky font-weight-bold">TOTAL FONCTIONNEMENT</td>
                    <td class="tg-0pky text-right">{{ totalFct }}</td>
                </tr>


                <tr>
                    <td class="tg-0pky card-header font-weight-bold alert alert-danger" colspan="6">
                       <span *ngIf="totalFct > 0"> Investissement</span>
                    </td>
                </tr>
                <tr *ngFor="let compte of tableInvestissement" 
                [ngClass]="(compte.type == 'chapitre')? ' alert alert-primary':'' ||
                           (compte.type == 'section')? ' alert alert-success':'' || 
                           (compte.type == 'article')? 'alert alert-warning':'' || 
                           (compte.type == 'compte')? 'alert alert-secondary':''"
                >
                <td class="tg-0pky" *ngIf="compte.type == 'chapitre'">{{ compte.numCompte }}</td>
                <td class="tg-0pky" *ngIf="compte.type == 'chapitre'"></td>
                <td class="tg-0pky" *ngIf="compte.type == 'chapitre'"></td> 
                <td class="tg-0pky" *ngIf="compte.type == 'chapitre'"></td>

                <td class="tg-0pky" *ngIf="compte.type == 'section'"></td>
                <td class="tg-0pky" *ngIf="compte.type == 'section'">{{ compte.numCompte }}</td>
                <td class="tg-0pky" *ngIf="compte.type == 'section'"></td>
                <td class="tg-0pky" *ngIf="compte.type == 'section'"></td>

                <td class="tg-0pky" *ngIf="compte.type == 'article'"></td>
                <td class="tg-0pky" *ngIf="compte.type == 'article'"></td>
                <td class="tg-0pky" *ngIf="compte.type == 'article'">{{ compte.numCompte }}</td>
                <td class="tg-0pky" *ngIf="compte.type == 'article'"></td>

                <td class="tg-0pky" *ngIf="compte.type == 'compte'"></td>
                <td class="tg-0pky" *ngIf="compte.type == 'compte'"></td>
                <td class="tg-0pky" *ngIf="compte.type == 'compte'"></td>
                <td class="tg-0pky" *ngIf="compte.type == 'compte'">{{ compte.numCompte }}</td>

                <td class="tg-0pky">{{ compte.intitule }}</td>
                <td class="tg-0pky text-right mt-modif">{{ compte.montant }}</td>


                <td class="tg-0pky text-right"  *ngIf="compte.type == 'compte'">
                    <button type="button" (click)="openDialog()" class="btn btn-outline-danger btn-sm rounded m-r-5">
                        <i class="mdi mdi-delete-empty"></i>
                    </button>
                    <button type="button" (click)="openDialog(compte)" class="btn btn-outline-secondary btn-sm rounded">
                        <i class="mdi mdi-table-edit"></i>
                    </button>
                </td>

            </tr>
            <tr *ngIf="totalInvesti > 0 ">
                <td class="tg-0pky" colspan="4"></td>
                <td class="tg-0pky font-weight-bold">TOTAL INVESTISSEMENT</td>
                <td class="tg-0pky text-right">{{ totalInvesti }}</td>
            </tr>

            <tr  class=" text-danger"  *ngIf="totalFct + totalInvesti > 0">
                <td class="tg-0pky font-weight-bold" colspan="5">TOTAL DES DEPENSES DU PROGRAMME 310(ENI)</td>
                <td class="tg-0pky text-right">{{ totalFct + totalInvesti }}</td>
            </tr>

                </table>
            </div>

            <div class="card" *ngIf="totalFct + totalInvesti == 0">
                <div class="card-body text-center">
                  <h6><i class=" mdi mdi-package-variant"></i>
                     Aucun élément à afficher pour l'année {{ yearSearch }}
                 </h6>
                </div>
              </div>

        </div>
    </div>
</div>
</div>                