<button type="button" [routerLink]="['/livre-compte/categorie/create-categorie']" class="btn btn-info">Créer catégorie</button>

<!-- ============================================================== -->
<div class="row">
    <!-- column -->
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Liste categorie du compte</h4>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th class="border-top-0">Index</th>
                            <th class="border-top-0">Intitulé</th>
                            <th class="border-top-0">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let e of categorie, let i=index">
                            <td class="txt-oflo">{{i+1}}</td>
                            <td class="txt-oflo">{{e.nom}}</td>
                            <td>
                                    <button class="btn btn-sm btn-outline-danger" (click)="onDelete(e.id)">
                                            <i class="ti-trash"></i>
                                     </button> &nbsp;
                                <button type="button" [routerLink]="['/livre-compte/categorie/'+e.id+'/edit']" class="btn btn-sm btn-outline-info">Modifier >>

                                </button></td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
            
            <div class="card" *ngIf="categorie == null">
                <div class="card-body text-center">
                  <h6><i class=" mdi mdi-package-variant"></i>
                     Aucun élément à afficher pour l'intant
                 </h6>
                </div>
              </div>

        </div>
    </div>
</div>
<!-- ============================================================== -->