
<div class="row">

    <div class="col-sm-6">
            <div class="card-body mt-n2">
                <p class="border-bottom">TABLEAU D'EQUILIBRE FINANCIER</p>
                <h5 class="m-b-0">Section 1: <span class="font-weight-bold">Fonctionnement</span></h5>
                <p class="m-b-0 "><span class="text-danger">Dépenses: </span> {{ totalFctDepense }}</p>
                <p><span class="text-success">Recette: </span> {{ totalFctRecette }}</p>
                
            </div>
    </div>   

    <div class="col-sm-6">
          <div class="card-body mt-n2">
                <p class="border-bottom">Recherche par date</p>
                
                    <div class="basic-container">
                        <div>
                            <jp-multi-datepicker tabindex="-1" 
                                        (change)="onYearChose($event)" 
                                        (dateChange)="onYearChose($event)"  
                                        mode="YEAR" label="Choisir année" 
                                        class="text-right"
                                       ></jp-multi-datepicker><br>
                            </div>
                    </div>
          </div>
        </div>

</div>




<div class="row">
    <!-- column 1-->
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <!-- column -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                
                                <div class="tg-wrap">
                                <table class="table-sm mt-n1" *ngIf="totalFctDepense > 0 ">
                                <thead>
                                    <tr>
                                        <th class="tg-0pky card-header p-1 mb-1 bg-danger text-white"  colspan="5">
                                            DEPENSE - {{ yearSearch }}
                                        </th>
                                        <th class="tg-0pky card-header text-right alert p-1 mb-1 bg-danger text-white">Ar</th>
                                    </tr>
                                    <tr>
                                        <th class="tg-0pky"  colspan="6">FONCTIONNEMENT</th>
                                    </tr>
                                    <tr class="font-weight-bold">
                                        <th class="tg-0pky font-weight-bold" scope="col" colspan="4">N° Comptes  </th>
                                        <th class="tg-0pky font-weight-bold" scope="col">Intitulés</th>
                                        <th class="tg-0pky font-weight-bold text-danger text-right" scope="col">TOTAL</th>
                                    </tr>
                                </thead>  
                
                                <tr *ngFor="let compte of tableFonctionnementDepense" 
                                    [ngClass]="(compte.type == 'chapitre')? 'table table-bordered alert alert-primary':'' ||
                                               (compte.type == 'section')? 'table table-bordered alert alert-success':'' || 
                                               (compte.type == 'article')? 'table table-bordered alert alert-warning':'' || 
                                               (compte.type == 'compte')? 'table table-bordered alert alert-secondary':''"
                                    >
                                    <td class="tg-0pky" *ngIf="compte.type == 'chapitre'">{{ compte.numCompte }}</td>
                                    <td class="tg-0pky" *ngIf="compte.type == 'chapitre'"></td>
                                    <td class="tg-0pky" *ngIf="compte.type == 'chapitre'"></td> 
                                    <td class="tg-0pky" *ngIf="compte.type == 'chapitre'"></td>
                
                                    <td class="tg-0pky" *ngIf="compte.type == 'section'"></td>
                                    <td class="tg-0pky" *ngIf="compte.type == 'section'">{{ compte.numCompte }}</td>
                                    <td class="tg-0pky" *ngIf="compte.type == 'section'"></td>
                                    <td class="tg-0pky" *ngIf="compte.type == 'section'"></td>
                
                                    <td class="tg-0pky" *ngIf="compte.type == 'article'"></td>
                                    <td class="tg-0pky" *ngIf="compte.type == 'article'"></td>
                                    <td class="tg-0pky" *ngIf="compte.type == 'article'">{{ compte.numCompte }}</td>
                                    <td class="tg-0pky" *ngIf="compte.type == 'article'"></td>
                
                                    <td class="tg-0pky" *ngIf="compte.type == 'compte'"></td>
                                    <td class="tg-0pky" *ngIf="compte.type == 'compte'"></td>
                                    <td class="tg-0pky" *ngIf="compte.type == 'compte'"></td>
                                    <td class="tg-0pky" *ngIf="compte.type == 'compte'">{{ compte.numCompte }}</td>
                
                                    <td class="tg-0pky">{{ compte.intitule }}</td>
                                    <td class="tg-0pky text-right">{{ compte.prevision }}</td>
                
                                </tr>

                
                            <tr  class="text-danger">
                                <td class="tg-0pky font-weight-bold " colspan="5">TOTAL DEPENSE</td>
                                <td class="tg-0pky text-right">{{ totalFctDepense}}</td>
                            </tr>
                
                                </table>
                            </div>

                            <!-- Message d'erreur S'il y a Aucun element afficher -->
                            <div class="card" *ngIf="totalFctDepense == 0">
                                <div class="card-body text-center">
                                  <h4><i class=" mdi mdi-package-variant"></i>
                                     Aucun élément à afficher pour l'année {{ yearSearch }}
                                 </h4>
                                </div>
                              </div>

                        </div>
                    </div>
                </div>
                </div>        

            </div>
        </div>
    </div>

    <!-- column 2 -->
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <!-- column -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                
                                <div class="tg-wrap">
                                    <table class="table-sm mt-n1" *ngIf="totalFctRecette > 0">
                                        <thead>
                                            <tr>
                                                <th class="tg-0pky card-header p-1 mb-1 bg-success text-white"  colspan="5">
                                                    RECETTE - {{ yearSearch }}
                                                </th>
                                                <th class="tg-0pky card-header text-right alert p-1 mb-1 bg-success text-white">Ar</th>
                                            </tr>
                                            <tr>
                                                <th class="tg-0pky"  colspan="6">FONCTIONNEMENT</th>
                                            </tr>
                                            <tr class="font-weight-bold">
                                                <th class="tg-0pky font-weight-bold" scope="col" colspan="4">N° Comptes  </th>
                                                <th class="tg-0pky font-weight-bold" scope="col">Intitulés</th>
                                                <th class="tg-0pky font-weight-bold text-danger text-right" scope="col">TOTAL</th>
                                            </tr>
                                        </thead>  
                
   
                                <tr *ngFor="let compte of tableFonctionnementRecette" 
                                [ngClass]="(compte.type == 'chapitre')? 'table table-bordered alert alert-primary':'' ||
                                            (compte.type == 'section')? 'table table-bordered alert alert-success':'' || 
                                            (compte.type == 'article')? 'table table-bordered alert alert-warning':'' || 
                                            (compte.type == 'compte')? 'table table-bordered alert alert-secondary':''"
                                >
                                    <td class="tg-0pky" *ngIf="compte.type == 'chapitre'">{{ compte.numCompte }}</td>
                                    <td class="tg-0pky" *ngIf="compte.type == 'chapitre'"></td>
                                    <td class="tg-0pky" *ngIf="compte.type == 'chapitre'"></td> 
                                    <td class="tg-0pky" *ngIf="compte.type == 'chapitre'"></td>
                
                                    <td class="tg-0pky" *ngIf="compte.type == 'section'"></td>
                                    <td class="tg-0pky" *ngIf="compte.type == 'section'">{{ compte.numCompte }}</td>
                                    <td class="tg-0pky" *ngIf="compte.type == 'section'"></td>
                                    <td class="tg-0pky" *ngIf="compte.type == 'section'"></td>
                
                                    <td class="tg-0pky" *ngIf="compte.type == 'article'"></td>
                                    <td class="tg-0pky" *ngIf="compte.type == 'article'"></td>
                                    <td class="tg-0pky" *ngIf="compte.type == 'article'">{{ compte.numCompte }}</td>
                                    <td class="tg-0pky" *ngIf="compte.type == 'article'"></td>
                
                                    <td class="tg-0pky" *ngIf="compte.type == 'compte'"></td>
                                    <td class="tg-0pky" *ngIf="compte.type == 'compte'"></td>
                                    <td class="tg-0pky" *ngIf="compte.type == 'compte'"></td>
                                    <td class="tg-0pky" *ngIf="compte.type == 'compte'">{{ compte.numCompte }}</td>
                
                                    <td class="tg-0pky">{{ compte.intitule }}</td>
                                    <td class="tg-0pky text-right">{{ compte.montant }}</td>
                
                                </tr>

                
                            <tr  class="text-success">
                                <td class="tg-0pky font-weight-bold " colspan="5">TOTAL RECETTE </td>
                                <td class="tg-0pky text-right">{{ totalFctRecette }}</td>
                            </tr>
                
                                </table>
                            </div>

                            
                            <div class="card" *ngIf="totalFctRecette == 0">
                                <div class="card-body text-center">
                                  <h4><i class=" mdi mdi-package-variant"></i>
                                     Aucun élément à afficher pour l'année {{ yearSearch }}
                                 </h4>
                                </div>
                              </div>

                              
                        </div>
                    </div>
                </div>
                </div> 

            </div>
        </div>
    </div>


</div>                